$blue : #00a5c3;
$blue2 : #0085a2;

$purple : #e51a6b;
$purple2 : #b10047;

$gray : #909090;
$gray2 : #e2e2e2;
$gray3 : #414141;

$yellow : #f4c32d;

$white : #fff;

$h1Size : 45px ;
$h2Size : 28px ;
$h3Size : 18px ;

$textSize : 15px;
$textSmallSize : 13px;

$gap20 : 20px;
$gap30 : 30px;
$gap40 : 40px;
$gap50 : 50px;


/////////////////////////////////// MARTIN /////////////////////////////////////
$grey-border: #cecece;
$grey-button: #ececec;

$border-radius: 2px;

$box-shadow: 1px 1px 2px rgba(0,0,0,0.08);
$box-shadow-strong: 0px 1px 3px rgba(0,0,0,0.250);

$miniText: 12px;
