table{
  width: 100%;
  text-align: left;
  
  tbody td{
    font-size: $textSmallSize;
  }
  
  thead{
    border: 1px solid $grey-border;
  }
  
  td{
    padding: 10px 15px;
  }
  
  th{
    padding: 10px 15px;
    background: $grey-button;
    font-weight: normal;
  }
  
  tr{
    border-bottom: 1px solid $grey-border;
  }
  
  .user-remove{
    width: 64px;
    font-size: 32px;
    text-align: center;
    color: $blue;
  }
  
  .user-change-permissions{
    width: 64px;
    font-size: 32px;
    text-align: center;
    color: $purple;
  }
}

