.process-profile-feature{
  margin-top: 30px;
  text-align: center;
  i{
    font-size: 50px;
    color: $blue;
  }
}

.process-profile-photoframe{
  min-height: 300px;
  border-right: 1px solid $grey-border;
}
